#navbar {
    border-radius:0 !important;
    font-size: initial;
    font-weight: 600;
    font-family: sans-serif;
}

body {
    background: #f5f5f5
}

label.form-group {

    margin: 5px;
}

#inputs {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
